# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3

# Django
backend/media/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
