# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3

# Django
backend/media/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Flutter (mobile/)
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/coverage/
mobile/pubspec.lock
mobile/*.iml
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework/
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Runner.xcworkspace/xcuserdata/
mobile/ios/Runner.xcodeproj/xcuserdata/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/upload-keystore.jks
mobile/android/app/.cxx/
